<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
</head>
<body>
<h2>
  An error has occurred!</br>
  Status code: <em><span th:text="${errorCode}"/></em>
</h2>
</body>
</html>