<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script>
  function formatAmountTo18n(amount, currency, locale){
    try{
      var formattedAmount = new Intl.NumberFormat(locale, { style: 'currency', currency: currency, maximumFractionDigits: 6 }).format(amount)
    }catch(error){
      var formattedAmount = new Intl.NumberFormat(locale, { maximumFractionDigits: 6 }).format(amount) + " :-"
    }
    document.write(formattedAmount)
  }
</script>
<html>
<head>
  <title>Currency Converter</title>
</head>
<body>
<h2 align="center">Exchange Rate Converter</h2>
<form th:action="@{/index}" th:object="${requestBean}" method="post">
  <table cellspacing="5" cellpadding="5" align="center" width="40%" height="75%">
    <tr>
      <td width="30%">
        <div><label>Source Currency: </label></div>
      </td>
      <td>
        <!--        <input type="text" name="from" id="from" th:field="*{from}" size="10"/>-->
        <select name="from" id="from" th:field="*{from}" th:object="${requestBean}">
          <option th:each="currency : ${currencies}" th:value="${currency.code}"
                  th:text="${currency.code+' - '+currency.name}">
          </option>
        </select>
        <br><span th:if="${#fields.hasErrors('from')}" th:errors="*{from}"></span>
      </td>
    </tr>
    <tr>
      <td>
        <div><label>Target Currency: </label></div>
      </td>
      <td>
        <!--        <input type="text" name="to" id="to" th:field="*{to}" size="10"/>-->
        <select name="to" id="to" th:field="*{to}" th:object="${requestBean}">
          <option th:each="currency : ${currencies}" th:value="${currency.code}"
                  th:text="${currency.code+' - '+currency.name}">
          </option>
        </select>
        <br><span th:if="${#fields.hasErrors('to')}" th:errors="*{to}"></span>
      </td>
    </tr>
    <tr>
      <td>
        <div><label>Amount: </label></div>
      </td>
      <td><input type="text" name="amount" id="amount" th:field="*{amount}" size="10"/>
        <br><span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <div><input type="submit" value="Convert" style="width:150px"/></div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="converted_amount"
             th:style="${convertedAmount == null ? 'display:none' : 'display:block'}">
          <b>Used Rate: <span th:text="${usedRate}"/></b><br>
          <span><b>Converted Amount: <script>formatAmountTo18n("[[${convertedAmount}]]", "[[${requestBean.to}]]", "[[${locale}]]")</script></b></span>
        </div>
      </td>
    </tr>
    <tr>
      <td th:if="${exception != null}" colspan="2"><h4>Error: <span th:text="${exception}"/></h4>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
